body {
  font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-top: 24px;
}

.wrapper #sidebar {
  border: 1px solid #ddd;
  position: absolute;
  min-width: 250px;
  max-width: 250px;
  min-height: 50vh;
  background: #fff;
  color: #007bff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}

.wrapper #sidebar .sidebar-header {
  padding: 20px;
  background: #fff;
}

.wrapper #sidebar #sidebarCollapse {
  position: absolute;
  left: 198px;
  top: -1px;
  color: #333;
  border: 1px solid #ddd;
  border-left: 0px;
  background: #fff;
  padding: 0;
}

.wrapper #sidebar #sidebarCollapse img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .25rem;
}

.wrapper #sidebar .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper #sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

.wrapper #sidebar ul.components p {
  color: #007bff;
  padding: 10px;
}

.wrapper #sidebar ul.components li a {
  padding: 10px;
  padding-left: 20px;
  font-size: 1.1em;
  display: block;
}

.wrapper #sidebar ul.components li a:hover {
  color: #007bff;
  border-right: 5px solid #007bff;
  background: #afafaf78;
}

.wrapper #sidebar ul.components li.active > a, .wrapper #sidebar ul.components a[aria-expanded="true"] {
  color: #007bff;
  border-right: 5px solid #007bff;
  background: #afafaf78;
}

.wrapper #sidebar ul.components ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #fff;
}

.wrapper #sidebar .sidebar-header h3 {
  color: #007bff;
}

.wrapper #sidebar.active {
  margin-left: -250px;
}

.wrapper #content .notification div {
  height: auto;
}

.wrapper #content .notification div .notification-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper #content .notification div .notification-content img {
  width: 20px;
  height: 20px;
  display: inline;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper #content .dashboard .row .dashboard__item {
  margin-bottom: 20px;
  padding-right: 0px;
}

.wrapper #content .dashboard .profile .profile__title h1 {
  padding-bottom: 20px;
  opacity: .8;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group {
  margin-bottom: 10px;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group i {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 48px;
  text-align: center;
  pointer-events: none;
  color: #007bff;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group input[type="file"] {
  background-color: #fff;
  overflow: hidden;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group input {
  border: 1px solid #007bff;
  padding: 12px 15px 12px 32px;
  opacity: 0.7;
  font-size: 14px;
  color: #222222;
  font-style: bold;
  border-radius: 0;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group select.custom-select {
  border: 1px solid #007bff;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group span.errors-feedback {
  padding-top: 5px;
  color: red;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group .row {
  margin-left: 0px;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group .row .col-md-4 {
  text-align: center;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group .row .col-md-4 img#showAvatarImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group .row .col-md-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.wrapper #content .dashboard .profile__body form .tab-content .form-group .row .col-md-8 p {
  font-weight: bold;
  font-size: 30px;
}

@media only screen and (max-width: 576px) {
  .wrapper #content .dashboard .profile__body form .profile__body__list {
    margin-left: 15px;
  }
  .wrapper #content .dashboard .profile__body form .profile__body__list .list__header {
    height: auto !important;
  }
  .wrapper #content .dashboard .profile__body form .profile__body__list .list__header .list__left {
    text-align: center;
  }
  .wrapper #content .dashboard .profile__body form .profile__body__list .list__header div img {
    margin: 0 auto;
  }
  .wrapper #content .dashboard .profile__body form .profile__body__list .list__header i {
    display: none;
  }
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header {
  height: 100px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .col-md-10 {
  margin-top: 20px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .col-md-10 h3 {
  color: #054752;
  font-size: 30px;
  line-height: 1.06;
  font-weight: 500;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .col-md-10 h4 {
  color: #708c91;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .col-md-2 {
  position: relative;
  padding: 0px;
  margin-right: 10px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .col-md-2 img {
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .wrapper #content .dashboard .profile__body form .profile__body__list .modal {
    height: 100%;
    padding-bottom: 200px;
  }
  .wrapper #content .dashboard .profile__body form .profile__body__list .modal .modal-dialog .modal-content {
    width: 100%;
  }
  .wrapper #content .dashboard .profile__body form .profile__body__list .modal .modal-dialog .modal-content .modal-header {
    width: 100%;
  }
}

.wrapper #content .dashboard .profile__body form .list__content ul.list-group {
  list-style: none;
}

.wrapper #content .dashboard .profile__body form .list__content ul.list-group li a {
  color: #00aff5;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header {
  height: 100px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .list__left {
  padding-top: 30px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .list__left h3 {
  opacity: .8;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .list__left h4 {
  opacity: .7;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header .col-md-2 img {
  height: 80px;
  margin-top: 15px;
  width: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__header i {
  line-height: 100px !important;
  font-weight: bold;
  font-size: 20px;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__content ul.list-group li.list-group-item {
  border: none;
  border-bottom: 1px solid #ededed;
  color: #007bff;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__content ul.list-group li.list-group-item a {
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
}

.wrapper #content .dashboard .profile__body form .profile__body__list .list__content ul.list-group :hover {
  background-color: #afafaf78;
}

.histroy-detail-modal .modal-content {
  top: 75px;
}

.histroy-detail-modal .modal-content .modal-body .row {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}

.histroy-detail-modal .modal-content .modal-body .row .col-md-5 span.profile-detail-title {
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .histroy-detail-modal .modal-content .modal-body .row {
    padding: 0px;
  }
}

.select2-container {
  width: 100% !important;
  padding: 0px 6px !important;
}

.history-table div .card {
  background: #fff;
  min-height: 50px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  border-radius: 2px;
}

.history-table div .card .body .table-responsive table {
  font-size: 14px;
  color: #555 !important;
  padding: 20px;
}

.history-table div .card .header {
  color: #555;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.history-table div .card .header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #111;
}

.history-table div .card .header .header-dropdown {
  position: absolute;
  top: 20px;
  right: 15px;
  list-style: none;
}

.history-table div .card .header .header-dropdown li .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.info-box {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.info-box .content {
  display: inline-block;
  padding: 7px 10px;
}

.info-box .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #fff;
}

.info-box .content .number {
  font-weight: normal;
  font-size: 26px;
  margin-top: -4px;
  color: #fff !important;
}

.info-box .icon {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
  width: 80px;
}

.info-box .icon i {
  color: #fff;
  font-size: 50px;
  line-height: 80px;
}

.info-box .hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 80px;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}

.info-box .hover-expand-effect:hover:after {
  width: 100%;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 992px) {
  .wrapper #sidebar {
    position: relative !important;
  }
  .wrapper #sidebar.active {
    margin-left: -250px !important;
  }
  .wrapper #sidebar.active #sidebarCollapse {
    position: fixed !important;
    top: 145px !important;
    left: 0px !important;
  }
}

@media (max-width: 768px) {
  .wrapper #sidebar {
    margin-left: -250px;
  }
  .wrapper #sidebar.active {
    margin-left: 0px;
  }
  .wrapper #sidebar.active #sidebarCollapse {
    position: absolute !important;
    left: 198px !important;
    top: -1px !important;
  }
  .wrapper #sidebarCollapse {
    position: fixed !important;
    top: 104px !important;
    left: 0px !important;
  }
}

@media (max-width: 576px) {
  .wrapper #sidebar {
    margin-left: -250px;
  }
  .wrapper #sidebar.active {
    margin-left: 0px;
  }
  .dashboard-task-infos {
    width: 200%;
    overflow-x: scroll;
  }
  #sidebarCollapse {
    position: fixed !important;
    top: 104px !important;
    left: 0px !important;
  }
}
/*# sourceMappingURL=dashboard.css.map */